body {
  font-family: 'Share Tech Mono', monospace !important;
}

.header {
  background-color: #8c8c8c;
}

.no-margin {
  margin: 0px;
}

.thin {
  padding: 0 40px !important;
}

.generatedOutput {
  background: rgba(168, 200, 250, .2);
  border-radius: 4px;
  word-break: break-all;
  padding: 4px 12px;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 1px;
}

.outputSm {
  min-height: 58px;
}

.outputLg {
  min-height: 270px;
}

.inputTextArea {
  width: inherit;
  border-radius: 4px;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 1px;
  margin-bottom: 12px;
}

.areaSm {
  min-height: 48px;
}

.areaMd {
  min-height: 58px;
}

.areaLg {
  min-height: 48px;
}

#generate, #verify {
  color: white;
  background-color: rgba(255, 140, 0, 1);
  border-color: #8c8c8c;
}

#verified {
  color: grey;
}